/* contact page */
.officer-square
  display inline-block
  position relative
  padding 15px
  // border 1px solid $shpe-blue
  vertical-align top
  text-align justify

  img
    display block
    width 250px
    height 250px
    margin 0 auto

  a
    font-size 1.2em

  @media(min-width: 480px)
    max-width 280px

  @media(min-width: 768px)
    min-width 350px
.officer-container
  text-align center

