@require 'utils'
/* footer styles */
footer
  background-color: $footer_bg_color
  min-height 350px
  font-size 12px
  color $footer_font_color

  p
    font-size 12px

  h3
    font-weight 300
    color white
    font-size 1.2em

  hr
    margin 5px 0
    color $footer_font_color

  a
    color $footer_font_color
    &:hover
      text-decoration none
      color white

  .footer-btn
    width 105px
    height 25px
    color white
    background-color $footer_button_color
    float right
    font-style italic
    line-height 13px
    text-align left

  .footer-btn_style
    color white
    background-color $footer_button_color
    font-style italic
    line-height 13px
    text-align left

  input.form-control
    height 25px
    margin-bottom 10px

  input.form-control, textarea.form-control
    +ks-placeholder()
      font-style italic
      color $shpe-gray-dark

  @media (max-width: 767px)
    .footer_form-container
      width 300px
      margin 0 auto
      display block

  .buffer
    height 2vh

.footer-about
  p
    font-size 1.5rem
