.headline
  background-color $shpe-blue
  color $white
  height 250px
  overflow hidden

  div
    height 250px

  @media (min-width: 768px)
     height 390px

    div
      height 390px

.headline_container_left
  background-image url(../images/shape-01.png)
  background-position 40% 0%

.headline_container_right
  background-image url(../images/shape-02.png)
  background-position 50% 75%

.headline-min
  background-color: $shpe-blue
  height 75px
  overflow hidden

  @media (min-width: 768px)
    height 100px

.headline_text
  font-weight: 300
  padding-top: 80px
  color white

  @media (max-width: 767px)
    padding-top 0
