@require 'utils'

/* jobs listing */
.job-post
  padding 20px

  h3
    font-size 20px
    margin-top 5px
    margin-bottom 5px

  p
    margin-bottom 0

  a.email
    padding-left 5px

  button
    margin 10px

.job-post:nth-of-type(even)
  background-color $shpe-gray

a.navigation
  top 10px
  text-align center
  font-style italic
  color white

/* job form */
.job-form
  .checkbox label
    font-weight bold
