@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
@import 'utils'

// debug tricks
// * {outline: 2px solid hotpink !important;}

//TODO: workaround for namespace bug in kouto https://github.com/krkn/kouto-swiss/issues/27#issuecomment-61550114
@import "kouto-swiss"
input.form-control, textarea.form-control
  +placeholder()
    color $shpe-gray-dark
    font-style italic

@import "../bower_components/bootstrap-stylus/stylus/bootstrap.styl"
@import "../bower_components/pickadate/lib/compressed/themes/classic.css"
@import "../bower_components/pickadate/lib/compressed/themes/classic.date.css"
@import "../public/styles/blueimp-gallery.css"
@import 'global'
@import 'headline'
@import 'section'
@import 'events'
@import 'membership'
@import 'gallery'
@import 'footer'
@import 'nav'
@import 'contact'
@import 'job'
@import 'errPage'

/* flash styles */
.alert
  color $shpe-blue-dark
  text-align center

.navbar-default
  border none
