@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);

// debug tricks
// * {outline: 2px solid hotpink !important;}

/* colors */
$shpe-blue            = #33648c
$shpe-blue-dark       = #1a3851
$shpe-blue-dark2      = #34495e
$white                = #FFF
$shpe-gray            = #d3d2d2
$shpe-gray-dark       = darken($shpe-gray, 50%)
$footer_bg_color      = #636363
$footer_font_color    = #d3d2d2
$footer_button_color  = #464646

/* bootstrap overrides */
$font-family-serif    ?= 'Merriweather', serif
$font-family-base     ?= $font-family-serif
$navbar-height        ?= 145px
$navbar-margin-bottom ?= 0px
$navbar-default-bg    ?= #fff
$input-bg             ?= $shpe-gray
$input-bg-disabled    ?= $shpe-gray
$btn-default-border   ?= rgba(0,0,0,0)
$btn-primary-border   ?= rgba(0,0,0,0)
$brand-primary        ?= $shpe-blue-dark2

// TODO workaround for namespace bug in kouto https://github.com/krkn/kouto-swiss/issues/27#issuecomment-61550114
@import "kouto-swiss"
input.form-control, textarea.form-control
  +placeholder()
    color $shpe-gray-dark
    font-style italic

@import "../bower_components/bootstrap-stylus/stylus/bootstrap.styl"
@import "../bower_components/pickadate/lib/compressed/themes/classic.css"
@import "../bower_components/pickadate/lib/compressed/themes/classic.date.css"

/* global styles */
p
  font-weight 300
  font-size 14px
  text-align justify

/* button styles */
.btn-rsvp
  width 140px
  height 25px
  font-style italic
  line-height 0
  font-weight 300
  border-radius 4px
  color white
  background-color $brand-primary

  &:hover
    color white
    background-color darken($brand-primary, 5%)

.btn-primary
  text-align center
  font-style italic
  color white

/// needed for putting the arrows on the buttons near the right of the button
/// like: 'Apply Now      ->'
.spanfix
  span
    float right

/* headline styles */
h1, h2
  text-align center
  line-height 1.5

h1
  font-size 1.5em
  color $shpe-blue-dark

  @media (min-width: 768px)
    font-size 2em

h2
  font-size 1.4em

  @media (min-width: 768px)
    font-size 1.9em

empty
  min-width 0px
  min-height 0px

.headline
  background-color $shpe-blue
  color $white
  height 250px
  overflow hidden

  div
    height 250px

  @media (min-width: 768px)
     height 390px

    div
      height 390px

.headline_container_left
  background-image url(../images/shape-01.png)
  background-position 40% 0%

.headline_container_right
  background-image url(../images/shape-02.png)
  background-position 50% 75%

.headline-min
  background-color: $shpe-blue
  height 75px
  overflow hidden

  @media (min-width: 768px)
    height 100px

.headline_text
  font-weight: 300
  padding-top: 80px
  color white

  @media (max-width: 767px)
    padding-top 0

/* section styles */
.inner-container
  padding 0 40px
  margin 0 auto

  @media (min-width: 768px)
    width: 690px

  @media (min-width: 970px)
    width: 910px

  @media (min-width: 1280px)
    width: 1024px

.section:nth-child(2n + 3)
  background-color $shpe-gray

.section_title
  color: $shpe-blue-dark

.section_bio
  min-height 265px

.section_upcoming
  min-height 450px
  background-image url(../images/shape-03.png)
  background-position 60% 0%
  background-repeat no-repeat

  @media (min-width: 768px)
    background-position 40% 0%

  @media (min-width: 1024px)
    background-position 30% 0%

.section
  padding: 50px 0

.slick-slide
  text-align center
  height 300px
  font-size 14px
  font-weight 300

  div
    height 150px
    width 150px
    border-radius 100px
    margin 20px auto

  h3
    margin 0
    color $shpe-blue-dark
    font-size 18px

  button
    margin 10px

.slick-slider
  .slick-dots li button:before
    font-size 10px

  .slick-prev

  .slick-next

  .slick-prev, .slick-next
    width 28px
    height 30px
    &:before
      color: $brand-primary
      font-size 30px

.slick-slider .slick-active
  animation fadeIn 1s

@-webkit-keyframes fadeIn
  0%
    opacity 0
    height 20px
  100%
    opacity 1
@keyframes fadeIn
  0%
    opacity 0
    height 20px
  100%
    opacity 1

/** landing page membership section **/
.membership_section
  min-height 200px

.membership_button-center
  text-align center

.membership_button-secondPadding
  @media (max-width: 767px)
    margin-top 15px

/** membership levels page **/
.membershipLevel
  background-color $shpe-gray
  border-radius 10px
  margin-bottom 25px
  padding-left 0
  padding-right 0

  > div
    padding 10px 40px

  .head
    background-color $shpe-blue
    border-radius inherit
    border-bottom-right-radius 0
    border-bottom-left-radius 0
    color white

    span
      float right

    @media (max-width: 767px)
      background-color transparent

  .body
    font-size 12px

  button
    margin-bottom 10px

  li
    padding-bottom 5px

  @media (max-width: 767px)
    text-align center
    border-radius 0
    min-height 200px
    font-weight bold
    .head
      color $shpe-blue-dark
    .head span
      color $shpe-blue
      float none
      display block
      padding 20px 0 0 0

    &:nth-child(2n+1)
      background-color $shpe-gray
    &:nth-child(2n)
      background-color transparent

.inner_page-bg
  background-image url(../images/shape-04.png)
  background-repeat no-repeat
  background-position 67% 100%

  @media (min-width: 768px)
    background-position 67% 100%

  @media (min-width: 1024px)
    background-position 40% 100%

.modal-body
  font-size 13px
  font-weight 300
  text-align justify

/** gallery page styles **/
.gallery_page-container
  text-align center
  z-index 1
  background-color #FFF

.gallery_photo
  display inline-block
  position relative
  padding 15px

  .gallery_photo-blur
    position absolute
    display none

  img
    width 250px
    height 250px

  &:hover
    .gallery_photo-blur
      display block

  @media (min-width: 768px)
    img
      width 200px
      height 200px

.gallery_photo-blur
  top 15px
  padding 10px
  background-color rgba(255,255,255,0.5)
  width 250px
  height 250px

  @media (min-width: 768px)
    width 200px
    height 200px

.gallery_photo-metadata
  font-size 20px

  hr
    margin 0 0
    border 1px solid $shpe-blue-dark

/* footer styles */
footer
  background-color: $footer_bg_color
  min-height 350px
  font-size 12px
  color $footer_font_color

  p
    font-size 12px

  h3
    font-weight 300
    color white
    font-size 1.2em

  hr
    margin 5px 0
    color $footer_font_color

  a
    color $footer_font_color

  .btn-default
    width 105px
    height 25px
    color white
    background-color $footer_button_color
    float right
    font-style italic
    text-align left
    line-height 13px

  input.form-control
    height 25px
    margin-bottom 10px

  @media (max-width: 767px)
    .footer_form-container
      width 300px
      margin 0 auto
      display block

/* navbar */
.navbar-brand
  padding 25px 0px

.nav
  font-size 16px

@media (min-width: 768px)
  .navbar .container-fluid
    width 765px
    float none
    margin 0 auto

/* contact page */
.officer-square
  display inline-block
  position relative
  padding 15px
  // border 1px solid $shpe-blue
  vertical-align top
  text-align justify

  img
    display block
    width 250px
    height 250px
    margin 0 auto

  a
    font-size 1.2em

  @media(min-width: 480px)
    max-width 280px

  @media(min-width: 768px)
    min-width 350px
.officer-container
  text-align center

/* jobs listing */
.job-post
  padding 5px

  h3
    font-size 20px
    margin-top 5px
    margin-bottom 5px

  p
    margin-bottom 0

  a.email
    padding-left 5px

  button
    margin 10px

.job-post:nth-of-type(even)
  background-color $shpe-gray

a.navigation
  top 10px
  text-align center
  font-style italic
  color white

/* job form */
.job-form
  .checkbox label
    font-weight bold

/* fonts */
.font-lg
  top 5px
  right 5px

  &:before
    font-size 1.5em

/* flash styles */
.alert
  background-color yellow
  color $shpe-blue-dark
