@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
@import 'utils'

// debug tricks
// * {outline: 2px solid hotpink !important;}

@import "kouto-swiss"
ks-vendor-prefixes = recommended

@import "../bower_components/bootstrap-stylus/stylus/bootstrap.styl"
@import "../bower_components/pickadate/lib/compressed/themes/classic.css"
@import "../bower_components/pickadate/lib/compressed/themes/classic.date.css"
@import 'global'
@import 'headline'
@import 'section'
@import 'events'
@import 'membership'
@import 'gallery'
@import 'footer'
@import 'nav'
@import 'contact'
@import 'job'
@import 'errPage'

// styles in 'gallery' override this but concatenation damages the precedence
@import "../public/styles/blueimp-gallery.css"

/* flash styles */
.alert
  color $shpe-blue-dark
  text-align center

.navbar-default
  border none
