@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);

// debug tricks
// * {outline: 2px solid hotpink !important;}

/* colors */
$shpe-blue            = #33648c
$shpe-blue-dark       = #1a3851
$shpe-blue-dark2      = #34495e
$shpe-blue-action     = #4F9BD8
$white                = #FFF
$shpe-gray            = #d3d2d2
$shpe-gray-dark       = darken($shpe-gray, 50%)
$footer_bg_color      = #636363
$footer_font_color    = #d3d2d2
$footer_button_color  = #464646

/* bootstrap overrides */
$font-family-serif    ?= 'Merriweather', serif
$font-family-base     ?= $font-family-serif
$navbar-height        ?= 145px
$navbar-margin-bottom ?= 0px
$navbar-default-bg    ?= #fff
$input-bg             ?= $shpe-gray
$input-bg-disabled    ?= $shpe-gray
$btn-default-border   ?= rgba(0,0,0,0)
$btn-primary-border   ?= rgba(0,0,0,0)
$brand-primary        ?= $shpe-blue-dark2
