extends ../layouts/default

block intro
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container

block content
  .center-outer.fifty
    .center-inner.text-center.center-box
      h1 404
      h4 This not the page you are looking for.
