extends ../layouts/default

block intro
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container

block content
  .center-outer.fifty
    .center-inner.text-center.center-box
      h1 500
      h4 There is a disturbance in the server.
      p Please try again later.
