extends ../layouts/default

// displays above the flash messages
block intro

block content
  .headline
    .headline_container_left
      .headline_container_right
        .section.inner-container
          h1.headline_text
            | San Francisco Bay Area
            br
            |           Society of Hispanic Professional Engineers
  .section_bio.section
    .inner-container
      .carousel-copy
        if copies
          for copy in copies
            div
              h2.section_title #{copy.title}
              != copy.body
  .section_upcoming.section
    .inner-container
      h2.section_title Upcoming Events
      .carousel-upcoming
        if events
          - var currentTime = Date.now()
          - var noEventsP = true
          for event in events
            if event.startTime && currentTime - event.startTime.getTime() < 605000000
              - noEventsP = false
              div
                if event.coverPhoto.url
                  div(alt='event photo', style='background: url(#{event.coverPhoto.url}); background-position: center; background-size: cover; ')
                else
                  img(alt='google stock image', src='https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg')
                a(href='https://www.facebook.com/events/' + event.FBEventId)
                  button.btn.btn-rsvp
                    | Info
                    span.glyphicon.glyphicon-chevron-right(style="vertical-align:-1px")
                br
                h3 #{event.FBEventName}
                = getDate(event.startTime)
                br
                = getStartTime(event.startTime)
                | -
                = getEndTime(event.endTime)
          if noEventsp
            h3 There are no upcoming events

  .membership_section.section
    .inner-container
      h2.section_title Membership
      p
        | Membership is open to all individuals who believe in the mission and goals set forth by the organization.
        | SF Bay Area SHPE does not discriminate based on occupation, ethnicity, or any other classification.
        | The chapter welcomes individuals and corporations alike to join together to fufill the mission and goals of
        | SF Bay Area SHPE.
      .membership_button-center.row
        .col-sm-2
        .col-sm-4
          a(href='/membership')
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Learn More
        .col-sm-4
          a(href='http://national.shpe.org/index.php/membership')
            button.btn.btn-primary.membership_button-secondPadding.spanfix.btn-block
              span &gt;
              | Apply Now
        .col-sm-2
