extends ../layouts/default

block intro

block content
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container
  h1 Membership Classification
  .membership_page-bg
    .row
      .membershipLevel.col-sm-10.col-sm-offset-1
        .head
          | Regular/Professional Member
          span $45.00 / year
        .show-on-mobile
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Learn More
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Apply Now
        .row
          .col-sm-6.col-xs-12
            | A Regular/Professional member shall be a person who at a minimum holds:
            ul
              li
                | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                | of engineering, engineering technology, mathematics, physical science or a
                | mathematically based science field.
              li
                | Six years of experience as an engineer or in a mathematically based science field
                | or engineering educator may be substituted for the bachelor&apos;s degree.
          .col-sm-6.col-xs-12
            | Regular/Professional members shall be entitled to:
            ul
              li
                | Cast one vote in elections of officers and all business that the Board of Directors
                | refers to the membership.
              li Hold a Board position.
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Apply Now
      .membershipLevel.col-sm-10.col-sm-offset-1
        .head
          | Associate Member 
          span $35.00 / year
        .show-on-mobile
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Learn More
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Apply Now
        .row
          .col-sm-6
            | A Regular/Professional member shall be a person who at a minimum holds:
            ul
              li
                | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                | of engineering, engineering technology, mathematics, physical science or a
                | mathematically based science field.
              li
                | Six years of experience as an engineer or in a mathematically based science field
                | or engineering educator may be substituted for the bachelor&apos;s degree.
          .col-sm-6
            | Regular/Professional members shall be entitled to:
            ul
              li
                | Cast one vote in elections of officers and all business that the Board of Directors
                | refers to the membership.
              li Hold a Board position.
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Apply Now
      .membershipLevel.col-sm-10.col-sm-offset-1
        .head
          | Honorary Member 
          span No Fee
        .show-on-mobile
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Learn More
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Apply Now
        .row
          .col-sm-6
            | A Regular/Professional member shall be a person who at a minimum holds:
            ul
              li
                | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                | of engineering, engineering technology, mathematics, physical science or a
                | mathematically based science field.
              li
                | Six years of experience as an engineer or in a mathematically based science field
                | or engineering educator may be substituted for the bachelor&apos;s degree.
          .col-sm-6
            | Regular/Professional members shall be entitled to:
            ul
              li
                | Cast one vote in elections of officers and all business that the Board of Directors
                | refers to the membership.
              li Hold a Board position.
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Apply Now
      .membershipLevel.col-sm-10.col-sm-offset-1
        .head
          | SHPE Guild Member (aka Industrial Member) 
          span $500.00 / year
        .show-on-mobile
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Learn More
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Apply Now
        .row
          .col-sm-6
            | A Regular/Professional member shall be a person who at a minimum holds:
            ul
              li
                | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                | of engineering, engineering technology, mathematics, physical science or a
                | mathematically based science field.
              li
                | Six years of experience as an engineer or in a mathematically based science field
                | or engineering educator may be substituted for the bachelor&apos;s degree.
          .col-sm-6
            | Regular/Professional members shall be entitled to:
            ul
              li
                | Cast one vote in elections of officers and all business that the Board of Directors
                | refers to the membership.
              li Hold a Board position.
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Apply Now
      .membershipLevel.col-sm-10.col-sm-offset-1
        .head
          | Lifetime Professional Member 
          span $500.00 / year
        .show-on-mobile
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Learn More
          button.btn.btn-primary.spanfix.btn-block
            span &gt;
            | Apply Now
        .row
          .col-sm-6
            | A Regular/Professional member shall be a person who at a minimum holds:
            ul
              li
                | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                | of engineering, engineering technology, mathematics, physical science or a
                | mathematically based science field.
              li
                | Six years of experience as an engineer or in a mathematically based science field
                | or engineering educator may be substituted for the bachelor&apos;s degree.
          .col-sm-6
            | Regular/Professional members shall be entitled to:
            ul
              li
                | Cast one vote in elections of officers and all business that the Board of Directors
                | refers to the membership.
              li Hold a Board position.
            button.btn.btn-primary.spanfix.btn-block
              span &gt;
              | Apply Now
