extends ../layouts/default

block intro
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container

block content
  h1 Membership Classification
  .membership_page-bg.container
    form.row(name="membership" action="#{signUpUrl}" method="get")
      for copy in copies
        .membershipLevel.col-sm-10.col-sm-offset-1
          .head= copy.title
            span= copy.price
          div
            .visible-xs-block
              button.btn.btn-primary.spanfix.btn-block(type='button', data-toggle='modal', data-target='#' + copy.title.replace(/[\W]/g, '_') +'Modal')
                span &gt;
                | Learn More
              button.btn.btn-primary.spanfix.btn-block
                span &gt;
                | Apply Now
              div(id= copy.title.replace(/[\W]/g, '_') + 'Modal', class='modal fade', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                      h4#regularModalLabel.modal-title
                        = copy.title
                    .modal-body
                      != copy.body
                    .modal-footer
                      button.btn.btn-primary(type='button', data-dismiss='modal') Close
            .col-sm-8.hidden-xs.col-sm-offset-2
              != copy.body
              button.btn.btn-primary.spanfix.btn-block
                span &gt;
                | Apply Now
