include ../mixins/flash-messages
include ../mixins/utils

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title || 'Society of Professional Hispanic Engineers San Francisco Chapter'
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name='description', content='')

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    if dev
      link(href="/styles/style.css", rel="stylesheet")
      link(href="/styles/slick.css", rel="stylesheet")
      link(href="/styles/blueimp-gallery.css", rel="stylesheet")
      link(href="/styles/bootstrap-image-gallery.css", rel="stylesheet")
      link(href="/styles/bootstrapValidator.css", rel="stylesheet")
    else
      link(href="/styles/shpe.css", rel="stylesheet")

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48398504-1', 'auto');
      ga('send', 'pageview');

    //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
    //- ... or completely change this header to suit your design.
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapsable')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="http://sfbayareashpe.org/wp-content/uploads/2014/02/new_shpe_logo_color.png")
        .collapse.navbar-collapse#navbar-collapsable
          ul.navbar-nav.nav
            each link in navLinks
              li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

    //- BODY
    #body

      //- NOTE:
      //- There is no .container wrapping class around body blocks to allow more flexibility in design.
      //- Remember to include it in your templates when you override the intro and content blocks!

      //- The Intro block appears above flash messages (used for temporary information display)
      block intro

      //- Flash messages allow you to display once-off status messages to users, e.g. form
      //- validation errors, success messages, etc.
      +flash-messages(messages)

      //- The content block should contain the body of your template's content
      block content

      // Include the footer
      include ../includes/footer.jade

    //- JAVASCRIPT
    //- Add scripts that are globally required by your site here.
    if dev
      script(src='/js/lib/jquery/jquery-2.1.1.js')
      script(src='/js/lib/bootstrap/bootstrap.js')
      script(src='/js/lib/pickadate/picker.js')
      script(src='/js/lib/pickadate/picker.date.js')
      script(src='/js/shpe-main.js')
      script(src='/js/lib/slick.js')
      script(src='/js/lib/blueimp/blueimp-gallery.js')
      script(src='/js/lib/blueimp/jquery.blueimp-gallery.js')
      script(src='/js/lib/bootstrap/bootstrap-image-gallery.js')
      script(src='/js/lib/bootstrap/bootstrapValidator.js')
    else
      script(src='/js/shpe.js')

    //- Include template-specific javascript files by extending the js block
    block js
