doctype html
html
  head
    | {{! Document Settings }}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     {{! Page Meta }}
    title {{meta_title}}
    meta(name='description', content='{{meta_description}}')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='shortcut icon', href='{{asset ')
    |     {{! Styles&apos;n&apos;Scripts }}
    link(rel='stylesheet', type='text/css', href='{{asset ', css='')
    link(rel='stylesheet', type='text/css', href='{{asset ', css='')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='{{asset ', css='')
    |     {{! Ghost outputs important style and meta data with this tag }}
    |     {{ghost_head}}
  body.(class='{{body_class}}')
    | {{&gt; header}}
    | {{! Everything else gets inserted here }}
    | {{{body}}}
    footer.site-footer
      .pure-g.section
        .pure-u-1.pure-u-sm-1-24.pure-u-lg-3-24.clearfix-xs
        .pure-u-1.pure-u-sm-6-24.pure-u-lg-4-24.clearfix-xs
          h3 About SHPE
          p
            | Lorem ipsum dolor sit amet, ex deleniti maluisset dissentiunt vis, illum suavitate sit id, at duis integre per. Qui cu docendi blandit assentior, est an inani nemore electram. Sea at alii eros, vim ea ridens minimum.
        .pure-u-1.pure-u-sm-1-24.pure-u-lg-2-24.clearfix-xs
        .pure-u-1.pure-u-sm-7-24.pure-u-lg-5-24.clearfix-xs
          h3 Latest News
          |           San Jose Earthquakes Stadium Tour
          hr
          |           Welcome back mixer!
          hr
          |           SHPE Engineering Day at The Exploratorium
          hr
          |           Win a Chevrolet Spark! - SHPE Raffle
        .pure-u-1.pure-u-sm-1-24.pure-u-lg-2-24.clearfix-xs
        .pure-u-1.pure-u-sm-7-24.pure-u-lg-5-24.footer_form-container
          h3 Contact Us
          form.pure-form(action='')
            input.pure-input-1(type='text', name='name', placeholder='Name')
            input.pure-input-1(type='email', name='email', placeholder='Email')
            textarea.pure-input-1(name='message', placeholder='Message', rows='3')
            br
            button.pure-button.button-footer(type='submit')
              | send 
              span &gt;
        .pure-u-1.pure-u-sm-1-24.pure-u-lg-3-24
    |     {{! Ghost outputs important scripts and data with this tag }}
    |     {{ghost_foot}}
    |     {{! The main JavaScript file for vimalSuite }}
    script(type='text/javascript', src='{{asset ', js='')
    script(type='text/javascript', src='{{asset ', js='')
    script(type='text/javascript', src='{{asset ', js='', vendor='')
