html
  body
    | {{!&lt; default}}
    | {{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
    | testing index
    | {{! The big featured header }}
    header.main-header(class='{{#if @blog.cover}}', style='background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}')
      nav.main-nav.overlay.clearfix
        | {{#if @blog.logo}}
        a.blog-logo(href='{{@blog.url}}')
          img(src='{{@blog.logo}}', alt='Blog Logo')
        | {{/if}}
        a.subscribe-button.icon-feed(href='{{@blog.url}}/rss/') Subscribe
      .vertical
        .main-header-content.inner
          h1.page-title {{@blog.title}}
          h2.page-description {{@blog.description}}
      a.scroll-down.icon-arrow-left(href='#content', data-offset='-45')
        span.hidden Scroll Down
    | {{! The main content area on the homepage }}
    main#content.content(role='main')
      | {{! Previous/next page links - only displayed on page 2+ }}
      .extra-pagination.inner
        | {{pagination}}
      | {{! This is the post loop - each post will be output using this markup }}
      | {{#foreach posts}}
      article.(class='{{post_class}}')
        header.post-header
          h2.post-title
            a(href='{{url}}') {{{title}}}
        section.post-excerpt
          p
            | {{excerpt words=&quot;30&quot;}} 
            a.read-more(href='{{url}}') &raquo;
        footer.post-meta
          | {{#if author.image}}
          img.author-thumb(src='{{author.image}}', alt='Author image', nopin='nopin')
          | {{/if}}
          |         {{author}}
          |         {{tags prefix=&quot; on &quot;}} 
          time.post-date(datetime="{{date format='YYYY-MM-DD'}}") {{date format=&quot;DD MMMM YYYY&quot;}}
      | {{/foreach}}
      | {{! Previous/next page links - displayed on every page }}
      | {{pagination}}
