html
  body
    | {{!&lt; default}}
    .headline-min
      .headline_container_left
        .headline_container_right
          .section.container
    h1 Photo Gallery
    .pure-g.gallery_page-container.inner_page-bg
      .pure-u.pure-u-sm-1-12
      .pure-u.pure-u-sm-5-6
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
        .gallery_photo
          img(src='http://lorempixel.com/400/400/', alt='shpe gallery image')
          .gallery_photo-metadata
            | This photo is about stuff
            hr
            a(href='#') Click to view gallery
      .pure-u.pure-u-sm-1-12
