html
  body
    | {{!&lt; default}}
    .headline-min
      .headline_container_left
        .headline_container_right
          .section.container
    h1 Membership Classification
    .pure-g.membership_page-bg
      .pure-u.pure-u-sm-1-12
      .pure-u.pure-u-sm-5-6
        .membershipLevel
          .head
            | Regular/Professional Member 
            span $45.00 / year
          .show-on-mobile
            button.pure-button.button-primary
              span &gt;
              | Learn More
            button.pure-button.button-primary
              span &gt;
              | Apply Now
          .body.pure-g
            .pure-u-1-24
            .pure-u-11-24.clearfix-xs
              | A Regular/Professional member shall be a person who at a minimum holds:
              ul
                li
                  | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                  | of engineering, engineering technology, mathematics, physical science or a
                  | mathematically based science field.
                li
                  | Six years of experience as an engineer or in a mathematically based science field
                  | or engineering educator may be substituted for the bachelor&apos;s degree.
            .pure-u-1-24
            .pure-u-10-24.clearfix-xs
              | Regular/Professional members shall be entitled to:
              ul
                li
                  | Cast one vote in elections of officers and all business that the Board of Directors
                  | refers to the membership.
                li Hold a Board position.
              button.pure-button.button-primary
                span &gt;
                | Apply Now
            .pure-u-1-24
        .membershipLevel
          .head
            | Associate Member 
            span $35.00 / year
          .show-on-mobile
            button.pure-button.button-primary
              span &gt;
              | Learn More
            button.pure-button.button-primary
              span &gt;
              | Apply Now
          .body.pure-g
            .pure-u-1-24
            .pure-u-11-24.clearfix-xs
              | A Regular/Professional member shall be a person who at a minimum holds:
              ul
                li
                  | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                  | of engineering, engineering technology, mathematics, physical science or a
                  | mathematically based science field.
                li
                  | Six years of experience as an engineer or in a mathematically based science field
                  | or engineering educator may be substituted for the bachelor&apos;s degree.
            .pure-u-1-24
            .pure-u-10-24.clearfix-xs
              | Regular/Professional members shall be entitled to:
              ul
                li
                  | Cast one vote in elections of officers and all business that the Board of Directors
                  | refers to the membership.
                li Hold a Board position.
              button.pure-button.button-primary
                span &gt;
                | Apply Now
            .pure-u-1-24
        .membershipLevel
          .head
            | Honorary Member 
            span No Fee
          .show-on-mobile
            button.pure-button.button-primary
              span &gt;
              | Learn More
            button.pure-button.button-primary
              span &gt;
              | Apply Now
          .body.pure-g
            .pure-u-1-24
            .pure-u-11-24.clearfix-xs
              | A Regular/Professional member shall be a person who at a minimum holds:
              ul
                li
                  | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                  | of engineering, engineering technology, mathematics, physical science or a
                  | mathematically based science field.
                li
                  | Six years of experience as an engineer or in a mathematically based science field
                  | or engineering educator may be substituted for the bachelor&apos;s degree.
            .pure-u-1-24
            .pure-u-10-24.clearfix-xs
              | Regular/Professional members shall be entitled to:
              ul
                li
                  | Cast one vote in elections of officers and all business that the Board of Directors
                  | refers to the membership.
                li Hold a Board position.
              button.pure-button.button-primary
                span &gt;
                | Apply Now
            .pure-u-1-24
        .membershipLevel
          .head
            | SHPE Guild Member (aka Industrial Member) 
            span $500.00 / year
          .show-on-mobile
            button.pure-button.button-primary
              span &gt;
              | Learn More
            button.pure-button.button-primary
              span &gt;
              | Apply Now
          .body.pure-g
            .pure-u-1-24
            .pure-u-11-24.clearfix-xs
              | A Regular/Professional member shall be a person who at a minimum holds:
              ul
                li
                  | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                  | of engineering, engineering technology, mathematics, physical science or a
                  | mathematically based science field.
                li
                  | Six years of experience as an engineer or in a mathematically based science field
                  | or engineering educator may be substituted for the bachelor&apos;s degree.
            .pure-u-1-24
            .pure-u-10-24.clearfix-xs
              | Regular/Professional members shall be entitled to:
              ul
                li
                  | Cast one vote in elections of officers and all business that the Board of Directors
                  | refers to the membership.
                li Hold a Board position.
              button.pure-button.button-primary
                span &gt;
                | Apply Now
            .pure-u-1-24
        .membershipLevel
          .head
            | Lifetime Professional Member 
            span $500.00 / year
          .show-on-mobile
            button.pure-button.button-primary
              span &gt;
              | Learn More
            button.pure-button.button-primary
              span &gt;
              | Apply Now
          .body.pure-g
            .pure-u-1-24
            .pure-u-11-24.clearfix-xs
              | A Regular/Professional member shall be a person who at a minimum holds:
              ul
                li
                  | An engineer-in-training certificate or a bachelor&apos;s degree in any discipline
                  | of engineering, engineering technology, mathematics, physical science or a
                  | mathematically based science field.
                li
                  | Six years of experience as an engineer or in a mathematically based science field
                  | or engineering educator may be substituted for the bachelor&apos;s degree.
            .pure-u-1-24
            .pure-u-10-24.clearfix-xs
              | Regular/Professional members shall be entitled to:
              ul
                li
                  | Cast one vote in elections of officers and all business that the Board of Directors
                  | refers to the membership.
                li Hold a Board position.
              button.pure-button.button-primary
                span &gt;
                | Apply Now
            .pure-u-1-24
      .pure-u.pure-u-sm-1-12
