html
  body
    | {{!&lt; default}}
    .headline-min
      .headline_container_left
        .headline_container_right
          .section.container
    h1 Chapter History
    .pure-g.gallery_page-container.inner_page-bg
      .pure-u.pure-u-sm-1-12
      .pure-u.pure-u-sm-5-6
        .inner_page-bg
          | so cool
      .pure-u.pure-u-sm-1-12
