{{!< default}}
<div class="headline-min">
  <div class="headline_container_left">
    <div class="headline_container_right">
      <div class="section container">
      </div>
    </div>
  </div>
</div>

<h1>Chapter History</h1>

<div class="pure-g gallery_page-container inner_page-bg">
  <div class="pure-u pure-u-sm-1-12"></div>
  <div class="pure-u pure-u-sm-5-6">

    <div class="inner_page-bg">
      so cool
    </div>
  </div>
  <div class="pure-u pure-u-sm-1-12"></div>
</div>
