@import "pure/base.css"
@import "pure/buttons.css"
@import "pure/menus.css"
@import "pure/grids-core.css"
@import "pure/grids-units.css"
@import "pure/grids-responsive.css"

$shpe-blue = #33648c
$shpe-blue-font = #1a3851
$white = #FFF
$shpe-gray = #d3d2d2
$footer_bg_color = #636363

html,
button,
input,
select,
textarea
  font-family: serif

h1, h2 {
  text-align: center;
}

test
  background black

empty
  min-width 0px
  min-height 0px

//TODO fix this selector to not use negation
.section:nth-child(odd)
  background-color $shpe-gray

  .headline
    background-color: $shpe-blue
    color: $white
    min-height: 300px

.headline_text
  font-weight: 100
  padding-top: 100px

.section_title
  color: $shpe-blue-font

.section
  padding: 50px 0

footer
  background-color: $footer_bg_color

.container
  @media (min-width: 960px)
    width: 750px
    margin: 0 auto

.menu_hide-sm
  @media (max-width: 960px)
    display none

.menu_hide-lg
  @media (min-width: 960px)
    display none

.menu_hamburger-size
  font-size 2em

.menu_hamburger-container
  text-align center

.slick-prev, .slick-next
  &:before
    color: grey

.slick-slide
  text-align: center
