@import "pure/base.css"
@import "pure/buttons.css"
@import "pure/menus.css"
@import "pure/grids-core.css"
@import "pure/grids-units.css"
@import "pure/grids-responsive.css"
@import "pure/forms.css"

$shpe-blue = #33648c
$shpe-blue-font = #1a3851
$white = #FFF
$shpe-gray = #d3d2d2
$footer_bg_color = #636363

html,
button,
input,
select,
footer *,
textarea
  font-family serif

.clearfix-lg
  @media (min-width: 1024px)
    display none

.clearfix-sm
  @media (max-width: 768px)
    display none

.menu
  min-height 145px

  a
    font-family serif

h1, h2
  text-align center
  line-height 1.5

h1
  font-size 2.1em

h2
  font-size 2em

empty
  min-width 0px
  min-height 0px

.section:nth-child(2n + 3)
  background-color $shpe-gray

.headline
  background-color: $shpe-blue !important
  color: $white
  min-height: 390px

.headline_text
  font-weight: 100
  padding-top: 80px

.headline_container_left
  background-image url(../img/shape-01.png)
  background-position 40% 0%
  min-height 390px

.headline_container_right
  background-image url(../img/shape-02.png)
  background-position 50% 0%
  min-height 390px

.section_title
  color: $shpe-blue-font

.section_bio
  min-height 265px

.section_upcoming
  min-height 450px

.membership_section
  min-height 200px

.section
  padding: 50px 0

footer
  background-color: $footer_bg_color
  min-height 350px
  color white
  font-size 0.8em

  h3
    font-size 1.5em

  .pure-form
    input
      margin-bottom 10px
    textarea
      margin-bottom 10px

  .pure-u-1
    @media (max-width: 768px)
      padding 0 30px

.container
  width 450px
  margin 0 auto

  @media (min-width: 568px)
    width: 565px
    margin: 0 auto

  @media (min-width: 768px)
    width: 760px
    margin: 0 auto

.menu_hide-sm
  @media (max-width: 960px)
    display none

.menu_hide-lg
  @media (min-width: 960px)
    display none

.menu_hamburger-size
  font-size 2em

.menu_hamburger-container
  text-align center

.slick-prev, .slick-next
  &:before
    color: grey

.slick-prev
  left: 15px
.slick-next
  right: 15px

.slick-slide
  text-align center
  height 300px

  img
    height 150px
    width 150px
    border-radius 100px
    margin 20px auto

  h3
    margin 0

  button
    margin 10px
