footer.site-footer.container-fluid(role='footer')
  //- FOOTER
  // TODO figure out why placeholder text is getting clipped on the top in firefox
  .section.row
    .col-sm-4.col-sm-offset-1.footer-about
      h3 #{about.title}
      != about.body
      br
      a.pull-left(href="SFBA-SHPE-Chapter-Bylaws.pdf")
        .btn.btn-default Our Bylaws
    .col-sm-3
      h3 Latest News
      if events && events.length > 3
        - var n = 0
          while n < 4
            a(href='https://www.facebook.com/events/' + events[n].FBEventId) #{events[n].FBEventName}
            unless (n === 3)
              hr
            - n++
    .col-sm-3
      h3 Contact Us
      form#contactForm(role='form' method='post' name='footer-contact' action='/contact-general')
        .form-group
          input.form-control(type='text' required name='name' placeholder='Name')
        .form-group
          input.form-control(type='email' required name='email' placeholder='Email')
        .form-group
          textarea.form-control(required name='message' placeholder='Message' rows=4)
        .form-group.honeypot
          label.honeypot Are you a robot?
          input.honeypot(type='text' value='' name='honeypot' alt='if you fill this field out then your email will not be sent')

        // TODO change disabled state color so it is legible
        button.btn.btn-default.spanfix(type='submit')
          span &gt;
          | Send
