html
  body
    .pure-g.menu_hide-sm.menu
      .pure-u-sm-1-8.empty
      .pure-u-sm-3-4
        .pure-menu.pure-menu-open.pure-menu-horizontal
          ul
            li
              a(href='/membership') Membership
            li.pure-menu-selected
              a(href='#') Links
            li
              a(href='#') Calendar
            li
              a(href='#') Job Listings
            li
              a(href='/gallery') Photos
            li
              a(href='/about') About
            li
              a(href='#') Contacts
      .pure-u-sm-1-8.empty
    .pure-g.menu_hide-lg
      .pure-u-1-4
        | {{! needs logo }}
      .pure-u-2-3.empty
      .pure-u-2-24.menu_hamburger-size.menu_hamburger-container
        i.fa.fa-bars
