@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300");
/* global styles */
html,
button,
input,
select,
footer *,
textarea {
  font-family: 'Merriweather', serif;
}
p {
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}
@media (min-width: 1024px) {
  .clearfix-lg {
    display: none;
  }
}
@media (max-width: 768px) {
  .clearfix-sm {
    display: none;
  }
}
@media (max-width: 568px) {
  .clearfix-xs {
    display: none;
  }
}
.show-on-mobile {
  display: inherit;
}
@media (min-width: 568px) {
  .show-on-mobile {
    display: none;
  }
}
/* button styles */
.button-rsvp {
  width: 140px;
  height: 25px;
  font-style: italic;
  line-height: 0;
  font-weight: 300;
  border-radius: 4px;
  color: #fff;
  background-color: #34495e;
}
.button-primary {
  width: 235px;
  height: 45px;
  text-align: center;
  font-style: italic;
  color: #fff;
  border-radius: 5px;
  background-color: #34495e;
}
.button-primary span {
  float: right;
}
.button-footer {
  width: 105px;
  height: 25px;
  color: #fff;
  background-color: #464646;
  float: right;
  font-style: italic;
  text-align: left;
}
.button-footer span {
  float: right;
}
/* menu styles */
.menu {
  min-height: 145px;
}
.menu a {
  font-family: serif;
}
@media (max-width: 960px) {
  .menu_hide-sm {
    display: none;
  }
}
@media (min-width: 960px) {
  .menu_hide-lg {
    display: none;
  }
}
.menu_hamburger-size {
  font-size: 2em;
}
.menu_hamburger-container {
  text-align: center;
}
/* headline styles */
h1,
h2 {
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-size: 1.5em;
  color: #1a3851;
}
@media (min-width: 568px) {
  h1 {
    font-size: 2em;
  }
}
h2 {
  font-size: 1.4em;
}
@media (min-width: 568px) {
  h2 {
    font-size: 1.9em;
  }
}
empty {
  min-width: 0px;
  min-height: 0px;
}
.headline {
  background-color: #33648c;
  color: #fff;
  height: 250px;
  overflow: hidden;
}
.headline div {
  height: 250px;
}
@media (min-width: 568px) {
  .headline {
    height: 390px;
  }
}
.headline div {
  height: 390px;
}
.headline_container_left {
  background-image: url("../images/shape-01.png");
  background-position: 40% 0%;
}
.headline_container_right {
  background-image: url("../images/shape-02.png");
  background-position: 50% 75%;
}
.headline-min {
  background-color: #33648c;
  height: 75px;
  overflow: hidden;
}
@media (min-width: 568px) {
  .headline-min {
    height: 100px;
  }
}
.headline_text {
  font-weight: 300;
  padding-top: 80px;
  color: #fff;
}
@media (max-width: 568px) {
  .headline_text {
    padding-top: 0;
  }
}
/* section styles */
.container {
  width: 290px;
  margin: 0 auto;
}
@media (min-width: 568px) {
  .container {
    width: 565px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 690px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}
.section:nth-child(2n + 3) {
  background-color: #d3d2d2;
}
.section_title {
  color: #1a3851;
}
.section_bio {
  min-height: 265px;
}
.section_upcoming {
  min-height: 450px;
  background-image: url("../images/shape-03.png");
  background-position: 60% 0%;
  background-repeat: no-repeat;
}
@media (min-width: 568px) {
  .section_upcoming {
    background-position: 40% 0%;
  }
}
@media (min-width: 1024px) {
  .section_upcoming {
    background-position: 30% 0%;
  }
}
.section {
  padding: 50px 0;
}
.slick-prev:before,
.slick-next:before {
  color: #808080;
}
.slick-prev {
  left: 15px;
}
.slick-next {
  right: 15px;
}
.slick-slide {
  text-align: center;
  height: 300px;
  font-size: 14px;
  font-weight: 300;
}
.slick-slide img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin: 20px auto;
}
.slick-slide h3 {
  margin: 0;
  color: #1a3851;
}
.slick-slide button {
  margin: 10px;
}
/** landing page membership section **/
.membership_section {
  min-height: 200px;
}
.membership_button-center {
  text-align: center;
}
@media (max-width: 568px) {
  .membership_button-secondPadding {
    margin-top: 15px;
  }
}
/** membership levels page **/
.membershipLevel {
  background-color: #d3d2d2;
  border-radius: 10px;
  margin-bottom: 25px;
}
.membershipLevel > div {
  padding: 10px 40px;
}
.membershipLevel .head {
  background-color: #33648c;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}
.membershipLevel .head span {
  float: right;
}
@media (max-width: 568px) {
  .membershipLevel .head {
    background-color: transparent;
  }
}
.membershipLevel .body {
  font-size: 12px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .membershipLevel button {
    float: right;
    width: 155px;
    height: 30px;
  }
}
.membershipLevel li {
  padding-bottom: 5px;
}
@media (max-width: 568px) {
  .membershipLevel {
    text-align: center;
    border-radius: 0;
    min-height: 200px;
    font-weight: bold;
  }
  .membershipLevel .head {
    color: #1a3851;
  }
  .membershipLevel button {
    color: #fff;
    margin-bottom: 10px;
  }
  .membershipLevel button span {
    color: #fff;
  }
  .membershipLevel .head span {
    color: #33648c;
    float: none;
    display: block;
    padding: 20px 0 0 0;
  }
  .membershipLevel:nth-child(2n+1) {
    background-color: #d3d2d2;
  }
  .membershipLevel:nth-child(2n) {
    background-color: transparent;
  }
}
.inner_page-bg {
  background-image: url("../images/shape-04.png");
  background-repeat: no-repeat;
  background-position: 67% 100%;
}
@media (min-width: 568px) {
  .inner_page-bg {
    background-position: 67% 100%;
  }
}
@media (min-width: 1024px) {
  .inner_page-bg {
    background-position: 40% 100%;
  }
}
/** gallery page styles **/
.gallery_page-container {
  text-align: center;
  z-index: 1;
}
.gallery_photo {
  display: inline-block;
  position: relative;
  padding: 15px;
}
.gallery_photo .gallery_photo-metadata {
  position: absolute;
  display: none;
}
.gallery_photo img {
  width: 250px;
  height: 250px;
}
.gallery_photo:hover .gallery_photo-metadata {
  display: block;
}
@media (min-width: 568px) {
  .gallery_photo img {
    width: 200px;
    height: 200px;
  }
}
.gallery_photo-metadata {
  top: 15px;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  width: 230px;
  height: 230px;
}
@media (min-width: 568px) {
  .gallery_photo-metadata {
    width: 180px;
    height: 180px;
  }
}
/* footer styles */
footer {
  background-color: #636363;
  min-height: 350px;
  font-size: 12px;
  color: #d3d2d2;
}
footer p {
  font-size: 12px;
}
footer h3 {
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
}
footer .pure-form input {
  margin-bottom: 10px;
  background-color: #d3d2d2;
}
footer .pure-form textarea {
  margin-bottom: 10px;
  background-color: #d3d2d2;
}
*
@media (max-width: 568px) {
  footer .pure-u-1 {
    padding: 0 30px;
  }
}
@media (max-width: 568px) {
  footer .footer_form-container {
    width: 300px;
    margin: 0 auto;
    display: block;
  }
}
