<div class="pure-g menu_hide-sm menu">
    <div class="pure-u-sm-1-8 empty">
    </div>
    <div class="pure-u-sm-3-4">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="/membership">Membership</a></li>
                <li class="pure-menu-selected"><a href="#">Links</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Job Listings</a></li>
                <li><a href="/gallery">Photos</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-sm-1-8 empty">
    </div>
</div>
<div class="pure-g menu_hide-lg">
  <div class="pure-u-1-4">
    {{! needs logo }}
  </div>
  <div class="pure-u-2-3 empty">
  </div>
  <div class="pure-u-2-24 menu_hamburger-size menu_hamburger-container">
    <i class="fa fa-bars "></i>
  </div>
</div>
