<div class="pure-g menu_hide-sm">
    <div class="pure-u-sm-1-8 empty">
    </div>
    <div class="pure-u-sm-3-4">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="#">Membership</a></li>
                <li class="pure-menu-selected"><a href="#">Links</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Job Listings</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-sm-1-8 empty">
    </div>
</div>
<div class="pure-g menu_hide-lg">
  <div class="pure-u-1-4">
    {{! needs logo }}
  </div>
  <div class="pure-u-5-8 empty">
  </div>
  <div class="pure-u-1-8">
    <i class="fa fa-bars menu_hamburger-size"></i>
  </div>
</div>
