<div class="pure-g">
    <div class="pure-u-lg-1-8 empty">
        
    </div>
    <div class="pure-u-lg-3-4">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="#">Membership</a></li>
                <li class="pure-menu-selected"><a href="#">Links</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Job Listings</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-lg-1-8 empty">
        
    </div>
</div>
