{{!< default}}
<div class="headline">
  <div class="headline_container_left">
    <div class="headline_container_right">
      <div class="section container">
        <h1 class="headline_text">
          San Francisco Bay Area
          <br>
          Society of Hispanic Professional Engineers
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="section_bio section">
  <div class="container">
    <h2 class="section_title">What is SHPE?</h2>

    <p>
      The society of Hispanic Professional Engineers (SHPE) was founded in Los Angeles, California,
      in 1974 by a group of engineers employed by the city of Los Angeles. Their objective was to
      form a national organiztion of professional engineers to serve as role models in the Hispanic Community.
    </p>
    <p>
      The concept of Networking was the key basis for the organization. SHPE quickly established two
      student chapters to begin the network that would grow to encompass the nation as well as reach
      countries outside of the United States. Today, SHPE enjoys a strong but independent network of
      professionals and student chapters throughout the nation.
    </p>
  </div>
</div>

<div class="section_upcoming section">
    <div class="container">
        <h2 class="section_title">Upcoming Events</h2>

        <div class="carousel-upcoming">
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
          <div>
            <img alt="google stock image" src="https://gp4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAACvxA/QeQAPGF6G68/s48-c-k-no/photo.jpg">
            <h3>SHPE SFBA @ Google</h3>
            August 6, 2014
            <br>
            5:30pm - 8:00pm
            <br>
            <button class="pure-button">RSVP</button>
          </div>
        </div>
    </div>
</div>

<div class="membership_section section">
    <div class="container">
        <h2 class="section_title">Membership</h2>

        <p>Membership is open to all individuals who believe in the mission and goals set forth by the organization.
        SF Bay Area SHPE does not discriminate based on occupation, ethnicity, or any other classification.
        The chapter welcomes individuals and corporations alike to join together to fufill the mission and goals of
        SF Bay Area SHPE.</p>
    </div>
</div>
