{{!< default}}
<div class="headline-min">
  <div class="headline_container_left">
    <div class="headline_container_right">
      <div class="section container">
      </div>
    </div>
  </div>
</div>

<h1>Membership Classification</h1>

<div class="pure-g membership_page-bg">
  <div class="pure-u pure-u-sm-1-12"></div>
  <div class="pure-u pure-u-sm-5-6">

    <div class="membershipLevel">
      <div class="head">
        Regular/Professional Member <span>$45.00 / year</span>
      </div>
      <div class="body pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-24 clearfix-xs">
          A Regular/Professional member shall be a person who at a minimum holds:
          <ul>
            <li>An engineer-in-training certificate or a bachelor's degree in any discipline
              of engineering, engineering technology, mathematics, physical science or a
              mathematically based science field.
            </li>
            <li>Six years of experience as an engineer or in a mathematically based science field
              or engineering educator may be substituted for the bachelor's degree.</li>
          </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-10-24 clearfix-xs">
          Regular/Professional members shall be entitled to:
          <ul>
            <li>Cast one vote in elections of officers and all business that the Board of Directors
              refers to the membership.
            </li>
            <li>Hold a Board position.</li>
          </ul>
          <button class="pure-button button-primary">Apply Now <span>></span></button>
        </div>
        <div class="pure-u-1-24"></div>
      </div>
    </div>

    <div class="membershipLevel">
      <div class="head">
        Associate Member <span>$35.00 / year</span>
      </div>
      <div class="body pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-24 clearfix-xs">
          A Regular/Professional member shall be a person who at a minimum holds:
          <ul>
            <li>An engineer-in-training certificate or a bachelor's degree in any discipline
              of engineering, engineering technology, mathematics, physical science or a
              mathematically based science field.
            </li>
            <li>Six years of experience as an engineer or in a mathematically based science field
              or engineering educator may be substituted for the bachelor's degree.</li>
          </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-10-24 clearfix-xs">
          Regular/Professional members shall be entitled to:
          <ul>
            <li>Cast one vote in elections of officers and all business that the Board of Directors
              refers to the membership.
            </li>
            <li>Hold a Board position.</li>
          </ul>
          <button class="pure-button button-primary">Apply Now <span>></span></button>
        </div>
        <div class="pure-u-1-24"></div>
      </div>
    </div>

    <div class="membershipLevel">
      <div class="head">
        Honorary Member <span>No Fee</span>
      </div>
      <div class="body pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-24 clearfix-xs">
          A Regular/Professional member shall be a person who at a minimum holds:
          <ul>
            <li>An engineer-in-training certificate or a bachelor's degree in any discipline
              of engineering, engineering technology, mathematics, physical science or a
              mathematically based science field.
            </li>
            <li>Six years of experience as an engineer or in a mathematically based science field
              or engineering educator may be substituted for the bachelor's degree.</li>
          </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-10-24 clearfix-xs">
          Regular/Professional members shall be entitled to:
          <ul>
            <li>Cast one vote in elections of officers and all business that the Board of Directors
              refers to the membership.
            </li>
            <li>Hold a Board position.</li>
          </ul>
          <button class="pure-button button-primary">Apply Now <span>></span></button>
        </div>
        <div class="pure-u-1-24"></div>
      </div>
    </div>

    <div class="membershipLevel">
      <div class="head">
        SHPE Guild Member (aka Industrial Member) <span>$500.00 / year</span>
      </div>
      <div class="body pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-24 clearfix-xs">
          A Regular/Professional member shall be a person who at a minimum holds:
          <ul>
            <li>An engineer-in-training certificate or a bachelor's degree in any discipline
              of engineering, engineering technology, mathematics, physical science or a
              mathematically based science field.
            </li>
            <li>Six years of experience as an engineer or in a mathematically based science field
              or engineering educator may be substituted for the bachelor's degree.</li>
          </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-10-24 clearfix-xs">
          Regular/Professional members shall be entitled to:
          <ul>
            <li>Cast one vote in elections of officers and all business that the Board of Directors
              refers to the membership.
            </li>
            <li>Hold a Board position.</li>
          </ul>
          <button class="pure-button button-primary">Apply Now <span>></span></button>
        </div>
        <div class="pure-u-1-24"></div>
      </div>
    </div>

    <div class="membershipLevel">
      <div class="head">
        Lifetime Professional Member <span>$500.00 / year</span>
      </div>
      <div class="body pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-24 clearfix-xs">
          A Regular/Professional member shall be a person who at a minimum holds:
          <ul>
            <li>An engineer-in-training certificate or a bachelor's degree in any discipline
              of engineering, engineering technology, mathematics, physical science or a
              mathematically based science field.
            </li>
            <li>Six years of experience as an engineer or in a mathematically based science field
              or engineering educator may be substituted for the bachelor's degree.</li>
          </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-10-24 clearfix-xs">
          Regular/Professional members shall be entitled to:
          <ul>
            <li>Cast one vote in elections of officers and all business that the Board of Directors
              refers to the membership.
            </li>
            <li>Hold a Board position.</li>
          </ul>
          <button class="pure-button button-primary">Apply Now <span>></span></button>
        </div>
        <div class="pure-u-1-24"></div>
      </div>
    </div>

  </div>
  <div class="pure-u pure-u-sm-1-12"></div>
</div>
