{{!< default}}
<div class="headline-min">
  <div class="headline_container_left">
    <div class="headline_container_right">
      <div class="section container">
      </div>
    </div>
  </div>
</div>

<h1>Photo Gallery</h1>

<div class="pure-g gallery_page-container inner_page-bg">
  <div class="pure-u pure-u-sm-1-12"></div>
  <div class="pure-u pure-u-sm-5-6">

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

    <div class="gallery_photo">
      <img src="http://lorempixel.com/400/400/" alt="shpe gallery image" >
      <div class="gallery_photo-metadata">
        <p>This photo is about stuff</p>
        <hr>
        <a href="#">Click to view gallery</a>
      </div>
    </div>

  </div>
  <div class="pure-u pure-u-sm-1-12"></div>
</div>
